@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #9de76e;
  --secondary-color: #163300;
  --light-primary: #e1f7d3;
  --bg-gray-100: #f3f4f6;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --navbar-height: 80px;
  --quick-menu-height: 50px;
}

/* Navbar */
.nav-bar {
  height: var(--navbar-height);
  padding: 10px 30px;
  border-bottom: 1px solid #dadada;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9;
}

.nav-bar-left {
  width: 90%;
}

.nav-bar-right {
  width: 90%;
  float: right;
}

.logo {
  width: 80px;
  height: 60px;
  object-fit: contain;
}

.delivery-hours-btn {
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  &:hover {
    background-color: #f4f4f5;
  }
}

.delivery-hours-btn h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.delivery-hours-btn p {
  font-size: 14px;
  margin: 0;
}

.delivery-hours-btn p svg {
  fill: var(--primary-color);
  height: 16px;
  width: 16px;
}

.location-popup-wrapper {
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: 1;
}

.location-popup-wrapper.active {
  opacity: 1;
  visibility: visible;
}

.location-popup {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 160%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
  overflow: hidden;
}

.location-popup-top {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 20px;
}

.location-popup-top h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.location-popup-close-btn {
  height: 35px;
  min-width: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: none;

  &:hover {
    background-color: #f4f4f5;
  }
}

.location-popup-mid {
  min-height: 300px;
  overflow: auto;
  padding: 5px;
}

.location-item {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &:hover {
    background-color: #f4f4f5;
  }
}

.location-item p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.location-item p svg {
  height: 16px;
  width: 16px;
  fill: var(--primary-color);
}

.search-wrapper > div {
  height: 48px;
  width: 100%;
  padding: 5px 10px 5px 45px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #dadada;
}

.search-wrapper > div > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  box-shadow: none;
}

.search-wrapper > div > i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  color: #555;
  font-size: 18px;
}

.login-btn {
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: #f4f4f5;
  }
}

.nav-cart-btn {
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
}

.nav-cart-btn > div {
  padding: 12px 16px;
}

.login-popup-btn {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 30px;
  color: #163300;
}

@media (max-width: 575px) {
  .delivery-hours-btn h5 {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .nav-bar {
    padding: 10px 15px;
  }
}

@media (min-width: 992px) and (max-width: 1439px) {
  .nav-bar-left,
  .nav-bar-right {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .location-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: #0006;
    z-index: 1;
  }
  .location-popup {
    bottom: 0;
    top: auto;
    width: 100%;
    min-height: 70dvh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Login Modal */
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: #0006;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.login-modal.active {
  opacity: 1;
  visibility: visible;
}

.login-modal-in {
  max-width: 600px;
  width: 90%;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.login-modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #f3f4f6;
  height: 35px;
  min-width: 35px;
  width: 35px;
  border-radius: 50%;

  &:hover {
    background-color: #d1d5db;
  }
}

.login-modal-in h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.login-modal-in h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--gray-600);
}

.login-modal-in form {
  max-width: 400px;
  width: 100%;
}

.login-inp-era {
  border: 1px solid #dadada;
  height: 48px;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

.login-inp-era input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  padding: 5px 10px 5px 60px;
}

.login-inp-era span {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.login-submit-btn {
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
  height: 48px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-color);
}

@media (max-width: 575px) {
  .login-modal-in {
    padding: 40px 30px;
  }
}

/* Hero */
.hero {
  padding: 20px 0;
}

.hero-item img {
  border-radius: 10px;
}

/* Categories */
.categories-in {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-between;
  gap: 10px 5px;
}

.categories h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

.category-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.category-item div {
  background-color: #9de76e33;
  border-radius: 5px;
  overflow: hidden;
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.category-item div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all linear 0.2s;
}

.category-item:hover div img {
  transform: scale(1.2);
}

.category-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

@media (max-width: 767px) {
  .categories h1 {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .categories-in {
    grid-template-columns: repeat(4, 1fr);
  }

  .category-item div {
    height: 70px;
    width: 70px;
  }

  .category-item p {
    font-size: 12px;
  }
}

@media (min-width: 426px) and (max-width: 575px) {
  .categories-in {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories-in {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories-in {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .categories-in {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Category */

.category {
  padding: 30px 0 0 0;
}

.category-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0 20px 0;
}

.category-title h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.category-title a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.product-item {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 5px 8px 10px 8px;
  position: relative;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  display: none;
}

.wishlist-btn svg:hover {
  stroke: var(--primary-color);
}

.product-item:hover .wishlist-btn {
  display: block;
}

.product-img {
  display: block;
  background-color: white;
  overflow: hidden;
}

.product-img img {
  height: 140px !important;
  width: 140px !important;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transition: all linear 0.2s;
}

.product-img:hover img {
  transform: scale(1.05);
}

.product-title {
  display: -webkit-box;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  margin: 10px 0 20px 0;
  height: 45px;
  overflow: hidden;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-item-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.product-item-btm p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.buy-now-btn {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.add-to-cart-btn {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.qty-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}

.qty-wrapper button {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.qty-wrapper button i {
  font-size: 10px;
}

.qty-wrapper input {
  width: 30px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 600;
  pointer-events: none;
}

.qty-wrapper input::-webkit-outer-spin-button,
.qty-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-wrapper input[type="number"] {
  -moz-appearance: textfield;
}

.category .owl-carousel .owl-nav button.owl-prev,
.category .owl-carousel .owl-nav button.owl-next {
  font-size: 40px !important;
  position: absolute;
  top: 45%;
  border: 1px solid #dadada;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(-50%);
  background: #fff;
  height: 50px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: black !important;

  &:hover {
    background-color: #f4f4f5;
  }
}

.category .owl-carousel .owl-nav button.owl-prev {
  left: -20px;
}

.category .owl-carousel .owl-nav button.owl-next {
  right: -20px;
}

@media (max-width: 575px) {
  .category .owl-carousel .owl-nav button.owl-prev,
  .category .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
}

/* Footer */
.footer {
  margin-top: 40px;
  background-color: var(--bg-gray-100);
  padding: 50px 0;
}

.footer-item > h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.useful-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-between;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: space-between;
}

.footer-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-item ul li {
  margin: 8px 0;
}

.footer-item ul li a {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-600);
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid var(--gray-600);
  }
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  width: 35px;
  border-radius: 50%;
  color: white;
  background-color: black;
  text-decoration: none;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: var(--gray-600);
}

@media (max-width: 991px) {
  .footer-item {
    margin-bottom: 20px;
  }

  .footer-item.last {
    margin-bottom: 0;
  }

  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-social {
    justify-content: center;
  }
}

/* Products */
.product-wrapper {
  padding-top: 40px;
}

.product-main-img img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

.product-gallery-imgs {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.product-gallery-imgs img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 5px;
}

.product-gallery-imgs img.active {
  border: 1px solid var(--primary-color);
}

.product-det-top {
  position: sticky;
  top: var(--navbar-height);

  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e7;
  background-color: white;
}

.product-det-top h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: black;
}

.product-det-top-action {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.product-det-top-action h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: black;
}

.product-det-top-action p {
  margin: 0;
  font-size: 16px;
  color: var(--gray-600);
}

.product-det-btm {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-why-us h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
  margin: 0;
}

.product-why-us-lists {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-why-us-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-why-us-item img {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.product-why-us-item h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.product-why-us-item p {
  font-size: 14px;
  margin: 0;
}

.product-brief h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.product-brief p {
  font-size: 16px;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .product-main-img img {
    max-height: 450px;
  }

  .product-gallery-imgs img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 991px) {
  .product-det-top {
    position: static;
  }
}

/* Quick Menus */
.quick-menus {
  position: sticky;
  top: var(--navbar-height);
  align-items: center;
  height: var(--quick-menu-height);
  padding: 2px 0;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 5;
  overflow-x: auto;
  overflow-y: visible;
  cursor: grab;
  scroll-behavior: smooth;
}

.quick-menus:active {
  cursor: grabbing;
}

.quick-menus.grabbing {
  cursor: grabbing;
  user-select: none;
}

.quick-menus.grabbing a,
.quick-menus.grabbing button {
  pointer-events: none;
}

.quick-menus::-webkit-scrollbar {
  display: none;
}

.quick-menus > .container > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.quick-menus ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  white-space: nowrap;
}

.quick-menus ul li a.active {
  background-color: var(--light-primary);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

/* Categories Products  */
.categories-product-in {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
}

.sub-cat-list {
  position: sticky;
  top: calc(var(--navbar-height) + var(--quick-menu-height));
  max-height: 100dvh;
  overflow-y: auto;
  border: 1px solid #e4e4e7;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.sub-cat-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-cat-list ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding: 15px;
  border-right: 4px solid transparent;

  &:hover {
    background-color: #f4f4f5;
  }
}

.sub-cat-list ul li a.active {
  border-right: 4px solid var(--primary-color);
  background-color: #e1f7d3;
}

.categories-all-products {
  padding-top: 20px;
}

.categories-all-products > h1 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}

.categories-all-products-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

@media (max-width: 767px) {
  .categories-product-in {
    gap: 10px;
  }
}

@media (max-width: 991px) {
  .nav-bar {
    height: auto;
  }

  .categories-product-in {
    grid-template-columns: 100px 1fr;
  }

  .sub-cat-list ul li a {
    flex-direction: column;
    font-size: 12px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .categories-product .container {
    max-width: 95% !important;
  }
}

@media (max-width: 425px) {
  .categories-all-products-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-img img {
    height: 120px !important;
    width: 120px !important;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .categories-all-products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories-all-products-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .categories-product-in {
    grid-template-columns: 200px 1fr;
  }

  .categories-all-products-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Float  Cart Button */
.float-cart-btn {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  width: 90%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px 12px 8px 10px;
  border: none;
  outline: none;
  box-shadow: none;
  border: 2px solid black;
  border-radius: 50px;
  z-index: 1;
}

.float-cart-btn > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.float-cart-btn .cart-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: var(--primary-color);
}

.float-cart-btn h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  text-align: start;
}

.float-cart-btn span {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .float-cart-btn {
    bottom: 40px;
    max-width: 250px;
  }
}

/* Cart Popup  */

.cart-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0006;
  z-index: 99;
  display: none;
  align-items: end;

  opacity: 0;
  visibility: hidden;
}

.cart-popup.active {
  opacity: 1;
  visibility: visible;
}

.cart-popup-in {
  height: 70vh;
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cart-pop-top {
  padding: 0px 20px 20px 10px;
  height: calc(70vh - 80px);
  overflow: auto;
}

.cart-pop-top > h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px 0;
}

.cart-pop-top-in {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-products,
.cart-bill,
.cart-cancellation-policy {
  background-color: #f3f4f6;
  padding: 10px 15px;
  border-radius: 10px;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.cart-product-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-product img {
  height: 50px;
  min-width: 50px;
  width: 50px;
  object-fit: cover;
}

.cart-product h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.cart-product h3 {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

.cart-bill h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.cart-bill p {
  font-size: 14px;
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.cart-bill p span:last-child {
  font-weight: 600;
}

.cart-bill p:last-child span:last-child {
  font-size: 16px;
}

.cart-cancellation-policy h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-700);
  margin: 0;
}

.cart-cancellation-policy p {
  font-size: 14px;
  color: var(--gray-500);
  margin: 5px 0 0 0;
  line-height: 110%;
}

.cart-pop-btm {
  height: 80px;
  padding: 10px 15px;
  border-top: 1px solid #dadada;
}

.cart-checkout-btn {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 15px 5px;
  border-radius: 5px;
  color: black;
}

@media (max-width: 991px) {
  .cart-popup {
    display: flex;
  }
}
